<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ego Booster</title>
  <link
      rel="stylesheet"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css}"
  />
</head>

<style>
  input[type="image"]:focus {
    outline: none;
  }
</style>

<body
    style="
      background-color: hsl(0, 0%, 97%);
      margin-top: 1%;
      text-align: center;
    "
>
<!-- Link to other Pages -->
<header>
  <p
      style="
          text-align: end;
          margin-right: 10%;
          color: #e9e0e0;
          font-weight: 600;
        "
  >
    <a
        href="/swagger-ui/index.html"
        style="color: black"
    >
      <i class="black linkify icon"></i> Ego Booster Swagger API
      Documentation
    </a>
    |
    <a
        href="https://github.com/sohekim/egobooster"
        target="_blank"
        style="color: black"
    >
      <i class="black github icon"> </i> Github
    </a>
  </p>
</header>

<!-- Logo -->
<input
    type="image"
    id="randomButton"
    th:src="@{/images/logoWithText.png}"
    alt="Submit Form"
    style="width: 140px; height: 120px; margin-bottom: 10px; margin-top: 1.5%;"
/>

<div>
  <i
      class="arrow up icon"
      style="margin-left: auto; margin-right: auto"
  ></i>
  <p style="font-weight: 600">Click to get new Ego Booster</p>
</div>

<!-- Search Bar -->
<div
    class="medium ui inverted action input"
    style="width: 80%; margin-top: 2%; font-weight: bold"
>
  <input
      type="text"
      placeholder="Find Ego Booster By Keyword..."
      style="font-weight: bold"
      id="myPlaceholder"
  />
  <input type="hidden" id="slipId" th:value="${booster.getId()}"/>
  <button class="orange medium ui icon button">
    <i class="search icon" id="searchButton"></i>
  </button>
</div>

<!-- Booster Card -->
<div
    class="ui card"
    id="content"
    style="
        width: 80%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
      "
>
  <h2 class="ui header" th:text="${booster.getText()}" id="boosterText">
    To fall in love with yourself is the first secret to happiness. To fall
    in love with yourself is the first secret to happiness.
  </h2>
</div>

<!-- Two Columns-->
<br/>
<div class="split" style="display: flex; justify-content: center; margin-top: 1%">
  <div
      id="col-1"
      style="
          position: relative;
          width: 40%;
          float: left;
          height: 100%;
          padding-left: 1%;
          margin-top: -1%;
          padding-right: 1%;
          z-index: 1010101010;
        "
  >
    <!-- Personalize-->
    <h2 class="small ui header" style="text-align: start">
      <i class="child icon"></i>
      <div class="content" style="text-align: start; font-size: 17px">
        Personalize This Booster
        <div
            class="sub header"
            style="text-align: start; font-size: 14px; margin-top: 3px"
        >
          Get custom link and share it with your friends
        </div>
      </div>
    </h2>
    <div class="ui inverted medium form" style="width: 100%">
      <div class="two fields">
        <div class="field">
          <input
              placeholder="giftee name"
              type="text"
              value=""
              id="giftee"
          />
        </div>
        <div class="field">
          <input
              placeholder="gifter name"
              type="text"
              value=""
              id="gifter"
          />
        </div>
        <div class="medium orange ui submit button" id="personalizeButton">
          Get
        </div>
      </div>
    </div>

    <button class="ui button" id="personalizeSampleButton" style="color: #f2711d; padding:0;
    background: transparent;
    width: 100%;
    text-align: start">
      <i class="angle down icon"></i>Check out an example
    </button>

  </div>

  <!-- Subscription-->
  <div
      style="
          position: relative;
          width: 40%;
          float: left;
          height: 100%;
          padding-left: 2.5%;
          margin-top: -1%;
          z-index: 1010101010;
        "
  >
    <h2 class="small ui header" style="text-align: start">
      <i class="envelope outline icon"></i>
      <div class="content" style="text-align: start; font-size: 17px">
        Subscription
        <div
            class="sub header"
            style="text-align: start; font-size: 14px; margin-top: 3px"
        >
          Start your day with daily Ego Booster Email
        </div>
      </div>
    </h2>
    <div>
      <div class="medium ui inverted input" style="width: calc(100% - 120px); min-width: 200px">
        <input
            type="text"
            placeholder="Email..."
            id="subscribePlaceholder"
            value=""
        />
      </div>
      <button
          class="medium orange ui button"
          id="subscribeButton"
          style="margin-left: 5px; width: 100px"
      >
        Subscribe
      </button>
    </div>

    <button class="ui button" id="subscriptionSampleButton" style="color: #f2711d; padding:0;
    background: transparent;
    width: 100%;
    margin-top: 20px;
    text-align: start">
      <i class="angle down icon"></i>Check out an example
    </button>
  </div>
</div>

<!--divider-->
<div id="personalizedContainer"
     style="
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 10%;
        width: 80%;
        min-height: 100px;
         display: none;
      ">
  <div class="ui divider" style="
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
      "></div>
  <h3>
    Example Personalized Booster
  </h3>
  <img th:src="@{/images/threeLogos.png}" alt="" style="width: 18%; margin-top: 3%"/>

  <div class="ui card" id="printcontent" style="
          width: 100%;
          height: 300px;
          display: flex;
          margin-top: 3%;
          position: relative;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          padding: 5%;
        ">

    <h2>Hey Minwoo ,</h2>
    <h2>To fall in love with yourself is the first secret to happiness.</h2>
    <h2>From Sohee</h2>

    <img th:src="@{/images/greens.png}" alt=""
         style="width: 12.5%; position: absolute; bottom: 0; right: 43.75%"/>
  </div>
</div>

<div id="subscriptionContainer"
     style="
        margin-top: 5%;
        margin-bottom: 3%;
        margin-left: 10%;
        margin-left: 10%;
        width: 80%;
        min-height: 100px;
         display: none;
      ">
  <div class="ui divider" style="
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
      "></div>
  <h3>
    Example Ego Booster Subscription Email
  </h3>
  <img th:src="@{/images/both.png}" alt="" style="width: 100%; margin-top: 30px"
  >
</div>

<div class="ui divider" style="
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
      "></div>

<!--Footer-->
<div class="sohee" style="margin-top: 5%">
  <a
      href="https://sohekim.github.io/"
      style="color: black"
      target="_blank"
  >
    <img th:src="@{/images/builtSohee.png}" alt="sohee" style="width: 250px">
  </a>
</div>
<div>
  <img th:src="@{/images/thanks.png}" style="width: 300px"/></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{boost.js}"></script>
</body>
</html>
