<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ego Booster Slip</title>
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
  />
</head>

<body
    style="
      background-color: hsl(0, 0%, 98%);
      margin-top: 5%;
      text-align: center;
    "
>

<div>
  <a th:href="@{/}" target="_blank">
    <img
        th:src="@{/images/threeLogos.png}"
        alt=""
        style="width: 180px; margin-top: 15px"
    />
  </a>
</div>

<div
    class="ui card"
    id="printcontent"
    style="
        width: 80%;
        height: 300px;
        display: flex;
        margin-top: 3%;
        position: relative;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
      "
>
  <!--  todo-->
  <!--  add gitee to dto-->
  <!--  <h1-->
  <!--      style="font-size: 200%"-->
  <!--      th:text="${booster.getGifter() == '' ? '' : 'To. ' + booster.get()}"-->
  <!--  ></h1>-->
  </br>
  <h1
      class="ui header"
      style="font-size: 230%"
      th:text="${booster.getText()}"
  ></h1>
  </br>
  <h1
      style="font-size: 200%"
      th:text="${booster.getGifter() == '' ? '' : 'From. ' + booster.getGifter()}"
  ></h1>

  <!--  TODO add multiple greens together-->
  <img
      th:src="@{/images/green.png}"
      alt=""
      style="width: 2%; position: absolute; bottom: 0; right: 50%"
  />
  <img
      th:src="@{/images/green.png}"
      alt=""
      style="width: 2%; position: absolute; bottom: 0; right: 45%"
  />
  <img
      th:src="@{/images/green.png}"
      alt=""
      style="width: 2%; position: absolute; bottom: 0; right: 55%"
  />
  <img
      th:src="@{/images/green.png}"
      alt=""
      style="width: 2%; position: absolute; bottom: 0; right: 60%"
  />
  <img
      th:src="@{/images/green.png}"
      alt=""
      style="width: 2%; position: absolute; bottom: 0; right: 40%"
  />
</div>
</body>
</html>
